* {
    background-color: black;
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
}
/* Header Style */
header {
    display: flex;
    flex-direction: column;
}
/* mail id style */
.mail-id {
    text-align: right;
    padding: 50px 120px 0 0;
    font-size: 30px;
    font-weight: 600;
}
/* heading-container style */
.heading-container {
    text-align: center;
    padding: 100px 0px;
}
/* headings style */
.headings {
    font-size: 180px;
    font-weight: 600;
}

.headings span {
    font-size: 180px;
    font-weight: 200;
}
/* sub-heading style */
.sub-heading {
    font-size: 50px;
    padding-top: 20px;
    font-weight: 600;
}
.sub-heading span {
    color: #4d77b8;
}
/* container-fluid style */
.container-fluid {
    display: flex;
    flex-wrap: wrap;
    /* width: 90%;
    margin: auto; */
    margin: 30px 0 70px 0;
    justify-content: center;
}
/* container-style */
.container {
    width: 450px;
    padding: 20px;
}
/* container image style */
.container img {
    width: 100%;
}
/* sub container title styles */
.logo-container-title {
    font-size: 40px;
    display: flex;
    justify-content: center;
}

.logo-container-title span {
    color: rgb(194, 232, 145);
}
/* sub container style */
.logo-container {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: 50px auto 200px;
    justify-content: space-around;
    align-items: center;
}
/* sub  image container styles */
.logo-container-image {
    text-align: center;
}
/* sub container image style */
.logo-container-image img {
    width: 70%;
}
/* image styles */
img {
    width: 100%;
}
/* line styles */
.horizontal-line {
    /* border: white solid 1px; */
    margin-top: 100px;
    display: flex;
    justify-content: center;
}
/* first line */
.horizontal-line :nth-child(1) {
    border: white solid 0.8px;
    margin-right: 20px;
    width: 35px;
}
/* second line */
.horizontal-line :nth-child(2) {
    border: white solid 0.8px;
    margin-left: 20px;
    width: 230px;
}
/* bottom container for icon */
.bottom-icon {
    display: flex;
    justify-content: center;
    margin: 50px 0;
}
/* icon border styles */
.icon {
    width: 50px;
    height: 50px;
    border: white solid 1px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 15px;
}
/* icon styles */
.icon i {
    font-size: 30px;
    border-radius: 50%;
    text-align: center;
}
/* footer styles */
footer {
    display: flex;
    justify-content: center;
}

footer h4 {
    font-size: 23px;
    font-weight: 600;
}
/* meadia query */
@media only screen and (max-width:786px) {
    /* header styles */
    header {
        flex-direction: column-reverse;
        margin-top: 140px;
    }
    /* heading container styles */
    .heading-container {
        padding-bottom: 0%;
    }
    /* headings styles */
    .headings {
        font-size: 60px;
    }

    .headings span {
        font-size: 60px;
    }
    /* sub-heading styles */
    .sub-heading {
        font-size: 35px;
    }
    /* mail-id styles */
    .mail-id {
        font-size: 20px;
        padding: 10px 0 30px;
        text-align: center;
    }
    /* .sub-container-title styles */
    .logo-container-title {
        font-size: 28px;
    }
    /* sub container image styles */
    .logo-container-image {
        width: 40%;
        padding: 10px;
        margin-bottom: 50px;
    }
    /* sub container styles  */
    .logo-container {
        margin-bottom: 0;
    }
    /* first horizontal-line styles  */
    .horizontal-line :nth-child(1) {
        width: 25px;
    }
    /* second horizontal-line styles */
    .horizontal-line :nth-child(2) {
        width: 140px;
    }
    /* /bottom-icon styles */
    .bottom-icon {
        margin-bottom: 0px;
    }
    /* icon styles */
    .icon{
        width: 45px;
        height: 45px;
    margin: 0 5px 20px;   
    }
    .icon i{
       font-size: 20px;
    }

}